   *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    body{
    overflow-x: hidden;
    background-color:#2B2B2B;   
    }
    @font-face {
    font-family: 'work sans';
    src: url(fonts/WorkSans-VariableFont_wght.ttf);
    }
    @font-face {
    font-family: 'space';
    src: url(fonts/SpaceMono-Bold.ttf);
    }
    .navbar-nav{
    align-items: center;
    gap: 20px;
    }
    .nav-link{
    display: flex;
    font-family: 'work sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    text-decoration:none;
    }
    .Sign{
    color: #FFFFFF;
    border: none;
    width: 152px;
    height: 60px;
    background: #A259FF;
    border-radius: 20px;
    }
    .Sign:hover{
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #A259FF;
    }
    .logo{
     align-items: center;
    gap: 10px;
    font-family: 'space';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
    display: flex;
    }
    .discover{
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 67px;
    line-height: 110%;
    color: #FFFFFF;
    white-space: nowrap;
    }
    .discription{
    font-family: 'Work Sans';
    font-size: 22px;
    line-height: 160%;
    color: #FFFFFF;
    white-space:nowrap;
    } 
    @media (max-width:1200px) {
    .card1{
    margin-left: -190px!important;
    display: flex!important;
    justify-content: center!important;
    }
    .br1{
    display: none!important;
    }
    .image1{
  width: 100%;
    }
    .discription {
    font-size: 15px!important;
    line-height: 140%!important;
    white-space: nowrap!important; 
    }
    .discover{
    font-size: 28px!important;
    line-height: 140%!important;
    padding: 0!important;
    }   
   

    .text{
    font-weight: 600!important;
    font-size: 28px!important;
    line-height: 140%!important;
    margin-left: 5px!important;
    }
    .text-1{
    font-weight: 400!important;
    font-size: 16px!important;
    line-height: 140%!important;
    }
    .dog{
    width: 315px!important;
    height: 315px!important;
    margin-left:35px!important;
    }
    .Total{
    font-size: 16px!important;
    }
    .Auctions{
    font-size: 16px!important;
    }
    .Artists{
    font-size: 16px!important;
    }
    .bear{
    width: 95px!important;
    height: 95px!important;
    }
    .br2{
    display: flex!important;
    }
    .dissapear{
    display: none !important;
    }
    }
    @media (max-width: 765px) {
    .getstart{

    width: 100% !important;
    }
    }
    @media (max-width: 575px){
   .image1{
    vertical-align: bottom;
    width:100%;
    }
    }  
    .getstart{
    border: none;
    width: 224px;
    border-radius: 20px;
    height: 60px;
    background: #A259FF;
    }
   .getstart:hover{
    color: #111010;
    background: #A259FF;
    }
    .n240k{
    font-family:'Space';
    font-size: 28px;
    color: #FFFFFF;
    }
    .n100k{
    font-family:'Space';
    font-size: 28px;
    color: #FFFFFF;
    }
    .n240kk{
    font-family:'Space';
    font-size: 28px;
    color: #FFFFFF; 
    }
    .Total{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 23.99px;
    line-height: 160%;
    color: #FFFFFF;
    white-space: nowrap;
    }  
    .Auctions{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 23.99px;
    line-height: 160%;
    color: #FFFFFF;
    }
    .Artists{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 23.99px;
    line-height: 160%;
    color: #FFFFFF;
    } 
    .number-1{
    margin-top: 127px;
    }
    .n240k{
    font-family:'Space';
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    color: #FFFFFF;   
    }
    .n100k{
    font-family:'Space';
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    color: #FFFFFF;       
    }
    .n240kk{
    font-family:'Space';
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    color: #FFFFFF;       
    }
    .Total{
    font-family:'Work';
    font-weight: 400;
    font-size: 23.99px;
    line-height: 160%;
    color: #FFFFFF;
    }
    .text{
    font-family:'Work Sans';
    font-size: 38px;
    line-height: 120%;
    color: #FFFFFF;
    white-space:wrap;
    }
    .text-1{
    font-family:'Work Sans';
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    color: #FFFFFF;
    white-space: wrap;
    }
    .br2{
    display: none;
    }
    .number-4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        background: #A259FF;
        border-radius: 20px;
        font-family: 'Space';
        font-weight: 700;
        font-size: 22px;
        line-height: 160%;
 
        
        color: #FFFFFF;
    }
